body {
	font-family: "Courier New", Courier, monospace;
	background-color: #ffffff;
}
h1 {
	text-align: center;
}
.container {
	display: flex;
	justify-content: center;
}
.base_currency {
	padding: 12px 20px;
	font-size: 1.2rem;
	outline: none;
	border-radius: 6px;
	border: 1px solid rgb(121, 121, 121);
	margin-right: 20px;
}
.amount {
  margin-right: 20px;
	padding: 12px 20px;
	font-size: 1.2rem;
	outline: none;
	border-radius: 6px;
	border: 1px solid rgb(121, 121, 121);
}
.submit {
	padding: 12px 20px;
	font-size: 1.2rem;
	outline: none;
	font-weight: 600;
	background-color: #09ab2e;
	color: #fff;
	border-radius: 4px;
}
.show {
	padding: 50px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
a {
	text-decoration: none;
	font-size: 1rem;
	padding: 12px 18px;
	background-color: #ffff;
	margin-right: 18px;
	margin-bottom: 18px;
	color: #333333;
	border: 1px solid #b8b8b8;
	border-radius: 4px;
	font-family: "Montserrat", sans-serif;
	cursor: pointer;
}
a:hover {
	border: 1px solid #686868;
}
